<div class="container" ng-controller="Controller">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                Your Beautiful Mail
            </div>
        </div>
        <div class="row">
            <div class="form-mail">
                
            </div>
        </div>
    </div>    

     
    
    <script src="jquery-1.11.3.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="purejs.js"></script>
    <script src="direttivaBasilare.js"></script>
